name: UI Tests

on: [push, pull_request]

jobs:
  ui-tests:
    name: Visual Regression
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          channels: conda-forge

      - name: Mamba install rasterio
        run: mamba install rasterio

      - name: Install xarray-leaflet
        run: |
          python -m pip install --upgrade jupyterlab~=3.0
          python -m pip install .
          cd ui-tests
          jlpm install

      - name: Install browser
        run: |
          cd ui-tests
          jlpm playwright install chromium

      - name: Launch JupyterLab on Linux and MacOS
        if: matrix.os != 'windows-latest'
        run: |
          cd ui-tests
          jlpm start-jlab 2>&1 > ./jupyterlab_server.log &

      - name: Launch JupyterLab on Windows
        if: matrix.os == 'windows-latest'
        run: |
          cd ui-tests
          jlpm start-jlab > ./jupyterlab_server.log &

      - name: Rendering tests
        run: |
          cd ui-tests
          sleep 10
          jlpm run test

      - name: Upload Playwright Test assets
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: xarray-leaflet-test-assets
          path: |
            ui-tests/test-results

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: xarray-leaflet-test-report
          path: |
            ui-tests/playwright-report

      - name: Update snapshots
        if: failure()
        run: |
          cd ui-tests
          # remove previous snapshots from other browser
          jlpm rimraf "tests/**/*-snapshots/*.png"
          # generate new snapshots
          jlpm run test:update

      - name: Print JupyterLab logs
        if: always()
        run: |
          cat ui-tests/jupyterlab_server.log